<div>
    <h1 id="title">Lista de productos</h1>
    <a href="/realtimeproducts">
        <h3 id="title">Lista de productos en tiempo real</h3>
    </a>
    <ul id="products-list">
        {{#if products.length}}
        {{#each products}}
        <li>
            <h2>{{this.id}} - {{this.title}}</h2>
            <p>{{formatPrice this.price}}</p>
        </li>
        {{/each}}
        {{else}}
        <li>No hay productos disponibles.</li>
        {{/if}}
    </ul>
</div>
<script src="main.js"></script>