<div>
  <h1 id="title">Lista de productos en tiempo real</h1>
  <a href="/">
    <h3 id="title">Lista de productos </h3>
  </a>
  <ul id="products-list"></ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js" type="module"></script>